# Data Extract From Flipkart Website (India)

In [1]:
import numpy as np
import pandas as pd
import requests
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup

In [3]:
url='https://www.flipkart.com/mobiles-accessories/mobiles/pr?sid=tyy%2C4io&otracker=categorytree&page=1'

In [4]:
response=requests.get(url)

In [5]:
response.status_code

200

In [6]:
soup=BeautifulSoup(response.content,'html.parser')

In [14]:
result=soup.find_all('div',class_="_3pLy-c row")

In [15]:
len(result)

24

In [52]:
name=[]
rating=[]
reviews=[]
description=[]
price=[]
discount=[]
pre_price=[]

for i in range(1,360):
    url='https://www.flipkart.com/mobiles-accessories/mobiles/pr?sid=tyy%2C4io&otracker=categorytree&page='+str(i)
    response=requests.get(url)
    soup=BeautifulSoup(response.content,'html.parser')
    result=soup.find_all('div',class_="_3pLy-c row")
    

    for results in result:
        try:
            name.append(results.find('div',class_='_4rR01T').get_text())
        except:
            name.append('N/A')

        try:
            rating.append(results.find('div',class_='_3LWZlK').get_text())
        except:
            rating.append('N/A')

        try:
            reviews.append(results.find('span',class_='_2_R_DZ').get_text())
        except:
            reviews.append('N/A')

        try:
            description.append(results.find('ul',class_='_1xgFaf').get_text())
        except:
            description.append('N/A')

        try:   
            price.append(results.find('div',class_='_30jeq3 _1_WHN1').get_text())
        except:
            price.append('N/A')

        try:
            discount.append(results.find('div',class_='_3Ay6Sb').get_text())
        except:
            discount.append('N/A')

        try:
            pre_price.append(results.find('div',class_='_3I9_wc _27UcVY').get_text())
        except:
            pre_price.append('N/A')

In [53]:
mobile_data=pd.DataFrame({'Name':name,'Rating':rating,'Reviews':reviews,'Description':description,'Price':price,'Discount':discount,'Pre_price':pre_price})

In [54]:
mobile_data

,Name,Rating,Reviews,Description,Price,Discount,Pre_price
0,"POCO C51 (Royal Blue, 64 GB)",4.1,"51,111 Ratings & 2,679 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....,"₹6,499",35% off,"₹9,999"
1,"Infinix SMART 7 (Azure Blue, 64 GB)",4.3,"60,734 Ratings & 2,956 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 2 TB16....,"₹6,999",30% off,"₹9,999"
2,"POCO C51 (Power Black, 64 GB)",4.1,"51,111 Ratings & 2,679 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....,"₹6,499",35% off,"₹9,999"
3,"Infinix SMART 7 (Night Black, 128 GB)",4.3,"60,734 Ratings & 2,956 Reviews",4 GB RAM | 128 GB ROM | Expandable Upto 512 GB...,"₹7,599",30% off,"₹10,999"
4,"Infinix SMART 7 (Emerald Green, 128 GB)",4.3,"60,734 Ratings & 2,956 Reviews",4 GB RAM | 128 GB ROM | Expandable Upto 512 GB...,"₹7,599",30% off,"₹10,999"
...,...,...,...,...,...,...,...
979,"Redmi 9A Sport (Carbon Black, 32 GB)",4.1,"26,709 Ratings & 1,938 Reviews",2 GB RAM | 32 GB ROM16.59 cm (6.53 inch) Displ...,"₹7,181",10% off,"₹7,999"
980,itel Ace2 lite Keypad Mobile| 1000 mAh Battery...,3.8,16 Ratings & 0 Reviews,32 MB RAM | 32 MB ROM4.57 cm (1.8 inch) Displa...,₹915,23% off,"₹1,199"
981,MTR S1000,3.6,40 Ratings & 1 Reviews,32 MB RAM | 32 MB ROM6.1 cm (2.4 inch) Display...,"₹1,100",44% off,"₹1,999"
982,"REDMI Note 11 SE (Cosmic White, 64 GB)",4.3,"47,437 Ratings & 2,875 Reviews",6 GB RAM | 64 GB ROM | Expandable Upto 512 GB1...,"₹13,490",20% off,"₹16,999"
983,"realme C30s (Stripe - Black, 32 GB)",4.4,"6,519 Ratings & 231 Reviews",2 GB RAM | 32 GB ROM | Expandable Upto 1 TB16....,"₹7,189",28% off,"₹9,999"

# Data Tranasform

In [75]:
df=pd.read_csv(r"G:\mobile_data.csv")
df

,Unnamed: 0,Name,Rating,Reviews,Description,Price,Discount,Pre_price
0,0,"POCO C51 (Royal Blue, 64 GB)",4.1,"51,111 Ratings & 2,679 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....,"₹6,499",35% off,"₹9,999"
1,1,"Infinix SMART 7 (Azure Blue, 64 GB)",4.3,"60,734 Ratings & 2,956 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 2 TB16....,"₹6,999",30% off,"₹9,999"
2,2,"POCO C51 (Power Black, 64 GB)",4.1,"51,111 Ratings & 2,679 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....,"₹6,499",35% off,"₹9,999"
3,3,"Infinix SMART 7 (Night Black, 128 GB)",4.3,"60,734 Ratings & 2,956 Reviews",4 GB RAM | 128 GB ROM | Expandable Upto 512 GB...,"₹7,599",30% off,"₹10,999"
4,4,"Infinix SMART 7 (Emerald Green, 128 GB)",4.3,"60,734 Ratings & 2,956 Reviews",4 GB RAM | 128 GB ROM | Expandable Upto 512 GB...,"₹7,599",30% off,"₹10,999"
...,...,...,...,...,...,...,...,...
979,979,"Redmi 9A Sport (Carbon Black, 32 GB)",4.1,"26,709 Ratings & 1,938 Reviews",2 GB RAM | 32 GB ROM16.59 cm (6.53 inch) Displ...,"₹7,181",10% off,"₹7,999"
980,980,itel Ace2 lite Keypad Mobile| 1000 mAh Battery...,3.8,16 Ratings & 0 Reviews,32 MB RAM | 32 MB ROM4.57 cm (1.8 inch) Displa...,₹915,23% off,"₹1,199"
981,981,MTR S1000,3.6,40 Ratings & 1 Reviews,32 MB RAM | 32 MB ROM6.1 cm (2.4 inch) Display...,"₹1,100",44% off,"₹1,999"
982,982,"REDMI Note 11 SE (Cosmic White, 64 GB)",4.3,"47,437 Ratings & 2,875 Reviews",6 GB RAM | 64 GB ROM | Expandable Upto 512 GB1...,"₹13,490",20% off,"₹16,999"
983,983,"realme C30s (Stripe - Black, 32 GB)",4.4,"6,519 Ratings & 231 Reviews",2 GB RAM | 32 GB ROM | Expandable Upto 1 TB16....,"₹7,189",28% off,"₹9,999"

# Understand Data

In [4]:
# too see first five rows
df.head()

,Unnamed: 0,Name,Rating,Reviews,Description,Price,Discount,Pre_price
0,0,"POCO C51 (Royal Blue, 64 GB)",4.1,"51,111 Ratings & 2,679 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....,"₹6,499",35% off,"₹9,999"
1,1,"Infinix SMART 7 (Azure Blue, 64 GB)",4.3,"60,734 Ratings & 2,956 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 2 TB16....,"₹6,999",30% off,"₹9,999"
2,2,"POCO C51 (Power Black, 64 GB)",4.1,"51,111 Ratings & 2,679 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....,"₹6,499",35% off,"₹9,999"
3,3,"Infinix SMART 7 (Night Black, 128 GB)",4.3,"60,734 Ratings & 2,956 Reviews",4 GB RAM | 128 GB ROM | Expandable Upto 512 GB...,"₹7,599",30% off,"₹10,999"
4,4,"Infinix SMART 7 (Emerald Green, 128 GB)",4.3,"60,734 Ratings & 2,956 Reviews",4 GB RAM | 128 GB ROM | Expandable Upto 512 GB...,"₹7,599",30% off,"₹10,999"

In [5]:
# too see last five rows
df.tail()

,Unnamed: 0,Name,Rating,Reviews,Description,Price,Discount,Pre_price
979,979,"Redmi 9A Sport (Carbon Black, 32 GB)",4.1,"26,709 Ratings & 1,938 Reviews",2 GB RAM | 32 GB ROM16.59 cm (6.53 inch) Displ...,"₹7,181",10% off,"₹7,999"
980,980,itel Ace2 lite Keypad Mobile| 1000 mAh Battery...,3.8,16 Ratings & 0 Reviews,32 MB RAM | 32 MB ROM4.57 cm (1.8 inch) Displa...,₹915,23% off,"₹1,199"
981,981,MTR S1000,3.6,40 Ratings & 1 Reviews,32 MB RAM | 32 MB ROM6.1 cm (2.4 inch) Display...,"₹1,100",44% off,"₹1,999"
982,982,"REDMI Note 11 SE (Cosmic White, 64 GB)",4.3,"47,437 Ratings & 2,875 Reviews",6 GB RAM | 64 GB ROM | Expandable Upto 512 GB1...,"₹13,490",20% off,"₹16,999"
983,983,"realme C30s (Stripe - Black, 32 GB)",4.4,"6,519 Ratings & 231 Reviews",2 GB RAM | 32 GB ROM | Expandable Upto 1 TB16....,"₹7,189",28% off,"₹9,999"

In [7]:
# too see random five rows
df.sample(5)

,Unnamed: 0,Name,Rating,Reviews,Description,Price,Discount,Pre_price
460,460,"SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)",4.3,"2,06,030 Ratings & 15,708 Reviews",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,"₹15,999",33% off,"₹23,999"
393,393,"REDMI Note 12 Pro+ 5G (Iceberg Blue, 256 GB)",4.2,"14,433 Ratings & 1,507 Reviews",8 GB RAM | 256 GB ROM16.94 cm (6.67 inch) Full...,"₹29,999",11% off,"₹33,999"
652,652,Kechaoda K55,3.8,331 Ratings & 12 Reviews,32 MB RAM | 64 MB ROM4.57 cm (1.8 inch) Quarte...,"₹1,160",22% off,"₹1,499"
113,113,"Infinix HOT 20 5G (Space Blue, 64 GB)",4.2,"15,114 Ratings & 1,176 Reviews",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....,"₹11,499",36% off,"₹17,999"
34,34,"MOTOROLA g13 (Lavender Blue, 128 GB)",4.0,"41,678 Ratings & 3,814 Reviews",4 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,"₹9,999",28% off,"₹13,999"

In [8]:
# to see columns name
df.columns

Index(['Unnamed: 0', 'Name', 'Rating', 'Reviews', 'Description', 'Price',
       'Discount', 'Pre_price'],
      dtype='object')

In [9]:
# see data shape
df.shape

(984, 8)

In [10]:
# to see data types
df.dtypes

Unnamed: 0       int64
Name            object
Rating         float64
Reviews         object
Description     object
Price           object
Discount        object
Pre_price       object
dtype: object

In [11]:
# to see basic info 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   984 non-null    int64
 1   Name         984 non-null    object
 2   Rating       974 non-null    float64
 3   Reviews      974 non-null    object
 4   Description  984 non-null    object
 5   Price        982 non-null    object
 6   Discount     931 non-null    object
 7   Pre_price    942 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 61.6+ KB

# Data Cleaning

In [76]:
# to see duplicated
df.duplicated().sum()

0

In [77]:
# drop unnamed columns
df.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [78]:
# Name columns to Brand Name columns
df['Brand_Name']=df['Name'].str.split(' ').str[0]

In [79]:
# Name columns to Phone_color columns
df['Phone_Colour']=df['Name'].str.split('(').str[1]

In [80]:
# Name columns to Rom columns
df['Rom']=df['Phone_Colour'].str.split(',').str[1]
df['Rom']=df['Rom'].str.replace(')','')
df['Rom']=df['Rom'].str.replace('GB','')

In [81]:
# Name columns to Phone_color columns
df['Phone_Colour']=df['Phone_Colour'].str.split(',').str[0]

In [82]:
# Name columns to Model_Name  columns
df['Model_Name']=df['Name'].str.split('(').str[0]

In [83]:
# drop name columns
df.drop(columns=['Name'],axis=1,inplace=True)

In [84]:
#Reviews columns to Rating Count columns
df['Rating_Count']=df['Reviews'].str.split('Ratings').str[0]
df['Rating_Count']=df['Rating_Count'].str.replace(',','')

In [85]:
#Reviews columns to Reviews Count columns
df['Reviews_Count']=df['Reviews'].str.split('&').str[1]
df['Reviews_Count']=df['Reviews_Count'].str.replace(',','')
df['Reviews_Count']=df['Reviews_Count'].str.replace('Reviews','')

In [86]:
# drop unnamed columns
df.drop(columns=['Reviews'],axis=1,inplace=True)

In [87]:
# Clean Price Columns 
df['Price']=df['Price'].str.replace('₹','')
df['Price']=df['Price'].str.replace(',','')

In [88]:
# Clean Discount Columns 
df['Discount']=df['Discount'].str.replace('off','')
df['Discount']=df['Discount'].str.replace('%','')

In [89]:
# Clean Price Columns 
df['Pre_price']=df['Pre_price'].str.replace('₹','')
df['Pre_price']=df['Pre_price'].str.replace(',','')

In [93]:
# arrange columns
df=df[['Brand_Name','Model_Name','Phone_Colour','Rom','Rating','Rating_Count','Reviews_Count','Price','Pre_price','Description']]

In [98]:
# description columns to Ram
df['Ram']=df['Description'].str.split('|').str[0]
df['Ram']=df['Ram'].str.replace('GB RAM','')

In [100]:
df['Description']=df['Description'].str.replace('4 GB RAM | 64 GB ROM | ','')

In [115]:
df['Display_Sizes']=df['Description'].str.split(')').str[1]

In [120]:
df.drop(columns=['RearCamera','FrontCamera'],axis=1,inplace=True)

In [126]:
# copy all data from df to df1 for backup purpose
df1=df.copy()

In [135]:
# Convert the extracted values to numeric
df1['Battery_Capacity'] = df1['Display_Sizes'].str.extract(r'(\d+)mAhBattery')

df1['Battery_Capacity'] = pd.to_numeric(df1['Battery_Capacity'], errors='coerce')

In [136]:
# Primary Camera Convert the extracted values to numeric
df1['Front_Camera(MP)'] = df1['Display_Sizes'].str.extract(r'(\d+)MPFront')
df1['Front_Camera(MP)'] = pd.to_numeric(df1['Front_Camera(MP)'], errors='coerce')

In [138]:
df1.drop(columns=['Primary_Camera(MP)','Battery_Capacity_mAh'],axis=1,inplace=True)

In [142]:
# Display_Size Convert the extracted values to numeric
df1['Display_Size'] = df1['Description'].str.extract(r'\((\d+\.\d+)inch')
df1['Display_Size'] = pd.to_numeric(df1['Display_Size'], errors='coerce')

In [154]:
# Extract data between "Battery" and "Processor" using regular expression
df1['Processor'] = df1['Description'].str.extract(r'Battery(.*?)Processor')

In [155]:
df1['Primary_Camera(MP)'] = df1['Description'].str.extract(r'Display(.*?)MP')

In [157]:
# copy all data from df to df1 for backup purpose
df=df1.copy()

In [159]:
df.drop(columns=['Display_Sizes','Description'],axis=1,inplace=True)

In [196]:
df.drop(columns=['Front_Camera(MP)'],axis=1,inplace=True)

In [202]:
df.drop(columns=['Ram'],axis=1,inplace=True)

In [203]:
# Check null value
df.isnull().sum()

Brand_Name              0
Model_Name              0
Phone_Colour            0
Rom                   334
Rating                  0
Rating_Count            0
Reviews_Count           0
Price                   0
Pre_price               0
Battery_Capacity        0
Display_Size            0
Processor             420
Primary_Camera(MP)      0
dtype: int64

# Handelling Missing Value

In [168]:
df['Phone_Colour'].mode()[0]
df['Phone_Colour']=df['Phone_Colour'].fillna(df['Phone_Colour'].mode()[0])

In [181]:
df['Display_Size'].median()
df['Display_Size']=df['Display_Size'].fillna(df['Display_Size'].median())

In [184]:
df['Primary_Camera(MP)'].median()
df['Primary_Camera(MP)']=df['Primary_Camera(MP)'].fillna(df['Primary_Camera(MP)'].median())

In [187]:
df['Rating'].median()
df['Rating']=df['Rating'].fillna(df['Rating'].median())

In [188]:
df['Rating_Count'].median()
df['Rating_Count']=df['Rating_Count'].fillna(df['Rating_Count'].median())

In [189]:
df['Reviews_Count'].median()
df['Reviews_Count']=df['Reviews_Count'].fillna(df['Reviews_Count'].median())

In [190]:
df['Price'].median()
df['Price']=df['Price'].fillna(df['Price'].median())

In [191]:
df['Pre_price'].median()
df['Pre_price']=df['Pre_price'].fillna(df['Pre_price'].median())

In [194]:
df['Battery_Capacity'].median()
df['Battery_Capacity']=df['Battery_Capacity'].fillna(df['Battery_Capacity'].median())

In [206]:
df['Rom']=df['Rom'].str.replace('MB','')

In [213]:
df=df[df['Rom']!=' 32+3 ']

In [216]:
df['Rom'].median()
df['Rom']=df['Rom'].fillna(df['Rom'].median())

In [217]:
# again check null value
df.isnull().sum()

Brand_Name              0
Model_Name              0
Phone_Colour            0
Rom                     0
Rating                  0
Rating_Count            0
Reviews_Count           0
Price                   0
Pre_price               0
Battery_Capacity        0
Display_Size            0
Processor             419
Primary_Camera(MP)      0
dtype: int64

In [221]:
df[['Rom','Rating_Count','Reviews_Count','Price','Pre_price']]=df[['Rom','Rating_Count','Reviews_Count','Price','Pre_price']].astype('int')

In [224]:
df['Primary_Camera(MP)']=df['Primary_Camera(MP)'].astype('float')

# Data Preprocessing

In [229]:
# Creating Rating Group Columns

def rating_group(feature):
    if feature >=3.1 and feature<3.5:
        return 'Bad'
    elif feature >=3.5 and feature<4.0:
        return 'Fair'
    elif feature >=4.0 and feature<4.5:
        return 'Good'
    else:
        return 'Excellent'

In [230]:
df['Rating_Group']=df['Rating'].apply(rating_group)

In [238]:
# Creating Price Group Columns

def price_group(feature):
    if feature >=620 and feature<20000:
        return '0-20k'
    elif feature >=20000 and feature<40000:
        return '20k-40k'
    elif feature >=40000 and feature<60000:
        return '40k-60k'
    elif feature >=60000 and feature<80000:
        return '60k-80k'
    else:
        return 'greater 80k'

In [236]:
df['Price_Group']=df['Price'].apply(price_group)

In [242]:
def display_group(feature):
    if feature >=0.6 and feature<5.8:
        return 'Small'
    elif feature >5.8 and feature<6.2:
        return 'Average'
    elif feature >=6.2 and feature<6.6:
        return 'Large'
    else:
        return 'Very Large'

In [243]:
df['Display_Group']=df['Display_Size'].apply(display_group)

In [244]:
df.head()

,Brand_Name,Model_Name,Phone_Colour,Rom,Rating,Rating_Count,Reviews_Count,Price,Pre_price,Battery_Capacity,Display_Size,Processor,Primary_Camera(MP),Rating_Group,Price_Group,Display_Group
0,POCO,POCO C51,Royal Blue,64,4.1,51111,2679,6499,9999,5000.0,6.52,HelioG36,8.0,Good,0-20k,Large
1,Infinix,Infinix SMART 7,Azure Blue,64,4.3,60734,2956,6999,9999,6000.0,6.60,UnisocSpreadtrumSC9863A1,13.0,Good,0-20k,Very Large
2,POCO,POCO C51,Power Black,64,4.1,51111,2679,6499,9999,5000.0,6.52,HelioG36,8.0,Good,0-20k,Large
3,Infinix,Infinix SMART 7,Night Black,128,4.3,60734,2956,7599,10999,6000.0,6.60,UnisocSpreadtrumSC9863A1,13.0,Good,0-20k,Very Large
4,Infinix,Infinix SMART 7,Emerald Green,128,4.3,60734,2956,7599,10999,6000.0,6.60,UnisocSpreadtrumSC9863A1,13.0,Good,0-20k,Very Large

In [249]:
df.rename(columns={'Primary_Camera(MP)':'Primary_Camera'},inplace=True)

# Data Export BigQuery Datawarehouse

In [245]:
from google.cloud import bigquery

In [246]:
from pandas_gbq import to_gbq

In [250]:
# Replace with your destination table's details
project_id = 'dbt-project-396315'
dataset_id = 'pizza_sales'
table_id = 'mobile_data'

# Upload DataFrame to BigQuery
to_gbq(df, destination_table=f"{project_id}.{dataset_id}.{table_id}", project_id=project_id, if_exists='replace')

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 511.31it/s]

In [251]:
df.to_csv(r"G:\mobile_clean_data.csv")